.socialNetworks{

    position: absolute;
    bottom: 0px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2vh;
    background-color: lightgray;

}
.socialNetworks>div:first-child{
    padding-left: 5%;
 
}
.socialNetworks>div:last-child{
    padding-right: 5%;

}

.socialNetworks>div:last-child>div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5em;

}