.WalletInfo{
    display: flex;
    flex-direction: row;
    margin: 15px auto;
    width: max-content;
}
.WalletInfo>label{
    display: flex;
    flex-direction: row;
}
.WalletInfo input,.WalletInfo>button{
    height: max-content;
    align-self: center;
    margin-left: 1em;
}
